body {
    background-color: #ffc0cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container, .welcome-container, .question-container {
    background-color: #7dc0f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    max-width: 90%;
}

.photo {
    width: 80%; /* Ajuste para pantallas más pequeñas */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los botones se adapten a pantallas pequeñas */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.yes-button, .no-button {
    width: 100px; /* Tamaño fijo para asegurar consistencia */
}

.yes-button {
    background-color: #28a745;
    color: white;
}

.no-button {
    background-color: #dc3545;
    color: white;
}

.heart {
    position: absolute;
    width: 200px; /* Tamaño más pequeño para dispositivos móviles */
    height: auto;
    z-index: 0;
}

#heart-left {
    left: 10px; /* Ajustes para asegurar que quepa en pantallas pequeñas */
    top: 50%;
    transform: translateY(-50%);
}

#heart-right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
